<div class="container">
  <div style="display: flex; align-items: flex-end; padding-top: 16px;">
    <div style="font-weight: 700; font-size: 52px; margin-right: 48px;">Мои бонусы</div>
    <div style="display: flex; justify-content: flex-end; background-image: url('<%=image_url('bonus-star.svg')%>'); height: 64px; width: 64px; background-size: contain; background-image: center; background-repeat: no-repeat;">
        <div style="align-self: flex-end; font-size: 16px; font-weight: 600;"><%=current_user.all_points%></div>
    </div>
  </div>



<div class="row">
  <div class="col l4 m4 s4" style="margin-top: 24px;">

    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('nike.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                Nike
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                25 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
            Скидка в фирменных магазинах Nike 15%
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="http://nike.com" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>


    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('worldclass.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                WorldClass
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                14 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
            5 бесплатных тренировок в спортивных залах WorldClass
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="https://special.worldclass.ru" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>

    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('storytel.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                Storytel
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                18 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
            2 аудиокниги уже ждут тебя в приложении
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="https://www.storytel.com" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>

    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('thebodyshop.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                The Body Shop
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                10 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
                      The Body Shop
          7% на все покупки
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="https://www.thebodyshop.ru/" style="color:black" class="waves-effect waves-dark btn yellow">Получить скидку</a>
          </div>
    </div>
  </div>

  <div class="col l4 m4 s4" style="margin-top: 24px;">

    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('apple.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                Apple
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                31 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
            10% скидка в фирменных магазинах Apple
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="http://apple.com" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>


    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('asos.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                Asos
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                12 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
            Скидка 25% на летнюю коллекцию
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="https://asos.com" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>

    <div style="display: flex; flex-direction: column; margin-bottom: 16px;  padding: 0; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); overflow: hidden; ">
      <div style="background-repeat: no-repeat; background-position: center;  background-size: cover; display:flex; height: 200px; width: 100%; background-image:url('<%=image_url('skyeng.png')%>')">
          <div style="display: flex; flex-direction: row;  width: 100%; align-items: baseline;">
            <div style="flex-grow: 1; display: flex;">
              <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px;">
                Skyeng
              </div>
            </div>

            <div style=" background: #ffffffdb; margin: 8px; padding: 4px; border-radius: 10px; display: flex; align-items: center;">
                32 <i class="material-icons">star</i>
            </div>
          </div>
        </div>
          <div style="padding: 8px;
                      font-weight: 600;
                      font-size: 16px;">
                      Skyeng
          2 бесплатных урока
          </div>
          <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px;">
              <a href="https://www.skyeng.ru" style="color:black" class="waves-effect waves-dark btn yellow">Получить бонус</a>
          </div>
    </div>


  </div>


      <div class="col l4 m4 s4" style="margin-top: 24px;">
            <div style="display: flex; justify-content: center;" >
              <div style="position:absolute; font-size: 24px; color: #7B88FF;
    font-weight: 600;"><%=current_user.all_points%></div>
                <img src="<%=image_url('cat.png')%>" alt="">
            </div>
            <div style="display: flex; background: #FAFAFA; border-radius: 8px; padding: 12px; margin-top: 16px; font-weight: 600;">
              <div style="flex-grow: 1; ">Доступные бонусы:</div>
              <div><%=current_user.all_points%> </div>
            </div>

      </div>

  </div>
</div>
