<div id="notification-<%=type%>" style="position: fixed; display: flex; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.2); align-items: center;
    justify-content: center;">

  <div style="z-index: 1; border-radius: 32px; background-color: white; padding: 32px; margin-right: 16px;
    margin-left: 16px; ">



  <div style="font-weight: 600; font-size: 18px;">
    <% if type == 3%>
      Вдруг ты забыл, до дедлайна <%= @three_day_tasks.count > 1 ? "задач" : "задачи" %> “<%=@three_day_tasks_titles%>” осталась 3 дня. Хочешь приступить к выполнению сегодня?
    <% end %>
    <% if type == 1%>
      Упс! Завтра дедлайн <%= @one_day_tasks.count > 1 ? "задач" : "задачи" %> "<%=@one_day_tasks_titles%>". Хочешь приступить к выполнению?
    <% end %>
    <% if type == 7%>
      Просто хочу напомнить, до дедлайна <%= @week_tasks.count > 1 ? "задач" : "задачи" %> “<%=@week_tasks_titles%>” осталась неделя. Хочешь приступить к выполнению сегодня?
    <% end %>
    <% if type == 71%>
      Ты кое-что забыл тут вчера. Хочешь продолжить выполнять задачи cегодня?
    <%end%>
    <% if type == 77%>
      Привет, давно не виделись! Накопилось много неактуных задач.
    <%end%>
  </div>



<div style="margin-top: 32px;">
  <% if type == 3%>
  <button onclick="makealltoday(<%=@three_day_tasks.pluck(:id)%>, <%=type%>)" class="btn waves-effect waves-light yellow" style="color: #171717;" type="submit" name="action">
    Сделать сегодня
    </button>

  <a onclick="$('notification-<%=type%>').remove()"class="waves-effect waves-yellow btn-flat">Я помню</a>
  <% end %>
  <% if type == 1%>
  <button onclick="makealltoday(<%=@one_day_tasks.pluck(:id)%>, <%=type%>)" class="btn waves-effect waves-light yellow" style="color: #171717;" type="submit" name="action">
    Сделать сегодня
    </button>

  <a onclick="$('notification-<%=type%>').remove()" class="waves-effect waves-yellow btn-flat">Я помню</a>
  <% end %>
  <% if type == 7%>
  <button onclick="makealltoday(<%=@week_tasks.pluck(:id)%>, <%=type%>)" class="btn waves-effect waves-light yellow" style="color: #171717;" type="submit" name="action">
    Сделать сегодня
    </button>

  <a onclick="$('notification-<%=type%>').remove()" class="waves-effect waves-yellow btn-flat">Я помню</a>
  <% end %>
  <% if type == 71%>
  <button onclick="makealltoday(<%=@day.pluck(:id)%>, <%=type%>)" class="btn waves-effect waves-light yellow" style="color: #171717;" type="submit" name="action">
    Продолжить сегодня
    </button>

  <a onclick="makealltodo(<%=@day.pluck(:id)%>, <%=type%>)" class="waves-effect waves-yellow btn-flat">Перенести в Сделать</a>
  <%end%>
  <% if type == 77%>
  <button onclick="makealltodo(<%=@week.pluck(:id)%>, <%=type%>)" class="btn waves-effect waves-light yellow" style="color: #171717;" type="submit" name="action">
    Перенести в сделать
    </button>

  <a onclick="$('notification-<%=type%>').remove()" class="waves-effect waves-yellow btn-flat">Оставить все как есть</a>
  <%end%>


</div>
  </div>
</div>
