<div draggable="true" ondragstart="drag(event)" onclick="taskClick(<%=task.id%>)" onmouseover="onHoverTask(<%=task.id%>)" onmouseout="onOutTask(<%=task.id%>)" id="task-<%=task.id%>" class="task-card" >
  <div class="task-card-title" >
   <%=task.project.title%>
  </div>
  <div id='task-data-<%=task.id%>'>
      <%= render 'tasks/task_card_data', task: task %>
  </div>
</div>
