<div class="row" id="" style="margin-top: 32px;">

<div class=" col m12 s12 l12 xl12">
  <div class="col m3" style="font-size: 18px;">
      Сделать
  </div>
  <div class="col m3" style="font-size: 18px;">
      Сегодня
  </div>
  <div class="col m3" style="font-size: 18px;">
      В процессе
  </div>
  <div class="col m3" style="font-size: 18px;">
      Готово
  </div>

</div>
<div class=" col m12 s12 l12 xl12">
  <% if @project %>
    <div class="col m3 s3">
        <a style="z-index: 0;" onclick="showNewTaskForm('<%=Task.task_states.keys.first%>')" id="" class="waves-effect waves-yellow btn-flat">Новая задача <i class="material-icons left">add</i></a>
    </div>
  <% end %>

<% if @project %>
  <div class="col m3 s3">
    <a style="z-index: 0;" onclick="showNewTaskForm('<%=Task.task_states.keys.second%>')" id="" class="waves-effect waves-yellow btn-flat">Новая задача <i class="material-icons left">add</i></a>
  </div>
<% end %>

<% if @project %>
  <div class="col m3 s3">
    <a style="z-index: 0;" onclick="showNewTaskForm('<%=Task.task_states.keys.third%>')" id="" class="waves-effect waves-yellow btn-flat">Новая задача <i class="material-icons left">add</i></a>
  </div>
<% end %>


</div>

<div class=" col m12 s12 l12 xl12">

<div class="col m3 s3" style="display: flex; flex-direction: column;">
  <div style="margin-top: 16px;" id="todo-tasks">
    <%= render :partial => "tasks/task", :collection => @project ? @project.tasks.all.todo.order('created_at DESC') : current_user.tasks.all.todo.order('created_at DESC'), :as => :task %>
  </div>
</div>

<div class="col m3 s3">
  <div style="margin-top: 16px;" id = "today-tasks">
    <%= render :partial => "tasks/task", :collection =>  @project ? @project.tasks.all.today.order('created_at DESC') : current_user.tasks.all.today.order('created_at DESC'), :as => :task %>
  </div>
</div>

<div class="col m3 s3">
  <div style="margin-top: 16px;" id = "in_process-tasks">
    <%= render :partial => "tasks/task", :collection =>  @project ? @project.tasks.all.in_process.order('created_at DESC') : current_user.tasks.all.in_process.order('created_at DESC'), :as => :task %>
  </div>
</div>

<div class="col m3 s3">
  <div style="margin-top: 16px;" id = "done-tasks">
    <%= render :partial => "tasks/task", :collection => @project ?  @project.tasks.all.done.order('created_at DESC') : current_user.tasks.all.done.order('created_at DESC'), :as => :task %>
  </div>
</div>
</div>
<script type="text/javascript">
function showNewTaskForm(type) {
$('#new-task-form').show()
$('#task-state').val(type)
}
</script>

</div>
