<div id="view-task-<%=task.id%>" style="position: fixed; z-index: 9; display: flex; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.2); align-items: center;
    justify-content: center;">

  <div style="z-index: 1; border-radius: 32px; height: 515px; width:996px; background-color: white;  position: absolute; ">

  <div style="display:flex; padding: 32px; aling-items: center;">
    <div style="flex-grow: 1; font-weight: 600; font-size: 18px;">
      <select id="task-select" onchange="taskUpdateType(<%=task.id%>)">
       <option value="todo" <%= task.todo? ? 'selected' : ''%>>Сделать</option>
       <option value="today" <%= task.today? ? 'selected' : ''%>>Сегодня</option>
       <option value="in_process" <%= task.in_process? ? 'selected' : ''%>>В процессе</option>
       <option value="done" <%= task.done? ? 'selected' : ''%>>Готово</option>
     </select>
    </div>
    <div>
      <a onclick="editTask(<%=task.id%>)" id="edit-task" class="waves-effect waves-yellow btn-flat"><i class="material-icons">edit</i></a>
    </div>
     <div>
       <a onclick="$('#view-task-<%=task.id%>').remove()" id="new-task" class="waves-effect waves-yellow btn-flat"><i class="material-icons">close</i></a>
     </div>
  </div>
<div id='task-data' style="padding: 0px 32px 32px 32px; ">
  <%= render 'tasks/task_data', task: task%>
</div>

<div id='task-actions'>
  <%= render 'tasks/view_task_actions', task: @task %>
</div>

  </div>
</div>


<script>

    $('select').formSelect();

  function createTask(){

    }


</script>
