<div class="container">
  <div style="font-weight: bold;
font-size: 34px; line-height: 150%; padding-bottom: 32px; padding-top: 58px;">Задачи на сегодня</div>

<% if current_user.tasks.today.any? || current_user.tasks.done.where('today_at > ? AND today_at < ?', Date.today - 1.day, Date.today + 1.day).any? %>
<div class="row" style="display: flex; flex-direction: row">

  <div class="col m7"  id="today-tasks" style="display: flex; flex-direction: column;">
    <%= render :partial => 'tasks/today_task', :collection => current_user.tasks.today.order('created_at DESC'), :as => :task %>
    <% if !current_user.tasks.today.any? %>
      <div style="font-size: 24px; color: #333333; margin-bottom: 16px;"> Круто! Ты закрыл все задачи на сегодня! </div>
    <% end %>
      <div id="today-done-tasks" style="display: flex; opacity: 80%; flex-direction: column;">
        <%= render :partial => 'tasks/today_task', :collection => current_user.tasks.done.where('today_at > ? AND today_at < ?', Date.today - 1.day, Date.today + 1.day).order('created_at DESC'), :as => :task %>
      </div>
  </div>


  <div class="col m5" id="stats-bar" style="display: flex; margin-left: 24px; font-size: 24px;">
     <div id="donutchart" style="width: 900px; height: 500px;"></div>
  </div>

  </div>
<% else %>
  <img src="<%=image_url('today_placeholder.png')%>">
  <div style="max-width: 640px; font-size: 24px;">
      Упс! У тебя еще нет запланированных задач на сегодняшний день, перейди в проект и перенеси задачу в колонку “сегодня”.
  </div>
<% end %>
</div>

   <script type="text/javascript">

     var tasks_done = <%=@today_done%>;
     var tasks_todo = <%=@today_count%>;

     $(document).on('turbolinks:load', function() {
       google.charts.load("current", {packages:["corechart"]});
       google.charts.setOnLoadCallback(drawChart);

     });


     function taskUpdateTypeToday(id, type) {

     var url = '/task/' + id + '/' + type;

       $.ajax({
             url: url, type: 'get'
           })
           .done(function(){ drawChart() })
     }

     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Task', 'Hours per Day'],
         ['Выполнено',     tasks_done],
         ['Осталось',      tasks_todo]
       ]);

       var options = {
         title: 'Выполнено: ' + tasks_done + '/' + tasks_todo ,
         pieSliceText: 'none',
         pieHole: 0.7,
         legend: 'none',
         pieSliceText: 'value',
         titleTextStyle: { fontSize: 18,
                              bold: true },
        slices: {
            0: { color: '#6673FF' },
            1: { color: '#DADADA' }
          }
       };

       var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
       chart.draw(data, options);
     }



   </script>
