<div class="container">

  <img style="margin-top: 96px; width: 150px; border-radius: 50%;" src="<%=image_url('avatar.jpg')%>" alt="">
  <div style="font-size: 52px; font-weight: 700;"><%=current_user.name%></div>
  <div>Редактировать профиль</div>

<div class="row" style="margin-top: 74px;">

  <div class="col s3 m3 l3"  style="padding: 8px;">
  <div style="display: flex; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); border-radius: 16px;">
    <div style="display:flex; flex-direction: column; padding: 24px;">
      <div style="font-size: 18px; font-weight: 600px; margin-bottom: 12px;">Мои проекты</div>
      <div style="font-weight: 600; font-size: 42px;"><%=current_user.projects.count%></div>
    </div>
  </div>
  </div>

  <div class="col s3 m3 l3"  style="padding: 8px;">

<div  style="display: flex; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); border-radius: 16px;">
  <div style="display:flex; flex-direction: column; padding: 24px;">
    <div style="font-size: 18px; font-weight: 600px; margin-bottom: 12px;">Активные задачи</div>
    <div style="font-weight: 600; font-size: 42px;"><%=current_user.tasks.in_process.count%></div>
  </div>
</div>
</div>

<div class="col s3 m3 l3"  style="padding: 8px;">

<div  style="display: flex; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); border-radius: 16px;">
  <div style="display:flex; flex-direction: column; padding: 24px;">
    <div style="font-size: 18px; font-weight: 600px; margin-bottom: 12px;">Мои задачи</div>
    <div style="font-weight: 600; font-size: 42px;"><%=current_user.tasks.count%></div>
  </div>
</div>
</div>

<div class="col s3 m3 l3"  style="padding: 8px;">

<div  style="display: flex; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); border-radius: 16px;">
  <div style="display:flex; flex-direction: column; padding: 24px;">
    <div style="font-size: 18px; font-weight: 600px; margin-bottom: 12px;">Мои бонусы</div>
    <div style="font-weight: 600; font-size: 42px;"><%=current_user.all_points%></div>
  </div>
</div>
  </div>
  </div>
</div>
